.header {
    background: $highGrey;
    height: 20vh;
    display: flex;
    align-items: center;
    &_title {
        color: #fff;
        font-size: $xBig;
        font-weight: 250;
        padding: 0 50px;
    }
}