// ==============================================
// GLOBAL VARIABLES
// ==============================================

// colors - rgba - linear-gradients

$mainBackground: #150035;
$mainColor: rgb(255, 234, 191);


// responsive breakpoints -----------------------
$bp-small: 576px;
$bp-medium: 768px;
$bp-large: 992px;
$bp-xLarge: 1200px;

