// ==============================================
// GLOBAL STYLE
// ==============================================

p {
    color: green;
}

%link {
    color: purple;
    &:hover {
        color: darkmagenta;
    }
}